
<h3 class="text-center">Login</h3>
<br>
<div class="my-2 text-center" (click)="login('1')">
    <button class="btn btn-rounded btn-success" type="button">
        Operador
    </button>
</div>
<hr>
<div class="my-2 text-center" (click)="login('2')">
    <button class="btn btn-rounded btn-primary" type="button">
        Supervisor
    </button>
</div>
<hr>
<div class="my-2 text-center" (click)="login('7')">
    <button class="btn btn-rounded btn-danger" type="button">
        Usuario NO autorizado
    </button>
</div>
