<div class="container-fluid" style="border:1px solid #cecece;">
    <div class="my-2">
    <div class="row justify-content-md-left">                                                 
        <div class="col-sm-auto"> 
            <input hidden type="file" #fileInput (change)="onFilechange(fileInput.files)" />
            <button class="btn btn-success mt-3" (click)="fileInput.click()">
                {{ file ? file.name : 'Seleccionar Archivo' }}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z"/>
                </svg>
            </button>
        </div> 

        <div class="col-md-auto">
            <button (click)="this.upload()" type="button" class="btn btn-secondary mt-3">Cargar
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-upload-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.5 14.5V11h1v3.5a.5.5 0 0 1-1 0z"/>
                  </svg>
            </button>
        </div>  
              
        <div class="col-sm-auto" *ngIf="loading$ | async" style="display: flex; align-items: center">                                     
                Cargando datos, por favor espere <my-ellipsis></my-ellipsis>           
        </div>               
    </div>  
</div>                                                                                                              
</div>  


<!-- <div *ngIf="hayError"
     class="alert alert-danger">
     {{errorMessage}}
</div> -->





